@import service.ProductionService.ProductionInfoData
@(form: Form[ProductionInfoData])(implicit request: RequestHeader, messages: Messages)

@base("new Production") {
    @helper.form(action = helper.CSRF(routes.Productions.create()), Symbol("enctype") -> "multipart/form-data") {
        @helper.inputText(form("title"))
        @helper.textarea(form("content"))
        <input type="file" name="thumbnail_image">
        <input type="file" name="image_0">
        @helper.inputText(form("alt[0]"))
        <input type="file" name="image_1">
        @helper.inputText(form("alt[1]"))
        <input type="file" name="image_2">
        @helper.inputText(form("alt[2]"))
        <input type="file" name="image_3">
        @helper.inputText(form("alt[3]"))
        <input type="submit">
    }
}

