@import play.twirl.api.HtmlFormat
@import window._

@()(implicit req: RequestHeader, messages: Messages)

@windowBase(Messages("alert.title"), "sub-window", "window-alert-unauthorized"){
    @HtmlFormat.empty
} {
<div class="container-fluid">
    <div class="row">
        <div class="col-2 alert-icon">
            <i class="bi bi-x-circle-fill"></i>
        </div>
        <div class="col-10 alert-text">
            @Messages("alert.text")
        </div>
    </div>
    <div class="alert-ok-button">
        <input type="button" id="alert-unauthorized-ok" value="@Messages("alert.ok")">
    </div>
</div>
}