@import window._
@import models.Production

@(prods: Seq[Production])(implicit req: RequestHeader, messages: Messages)

@windowBase(Messages("window.name.manageProduction"), "main-window", "window-manage-production"){
<ul>
    <li class="window-menu-content">@Html(Messages("window.menu.file"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.edit"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.search"))</li>
    <li class="window-menu-content menu-reload">@Html(Messages("window.menu.reload"))</li>
</ul>
} {
    <div id="icon-new-production" class="manage-production-item" >
        <img src="@routes.Assets.versioned("images/manual.png")" style="width: 100px; height: 100px;" alt="manual">
        <p>@Messages("manage.production.create")</p>
    </div>
    @for(p <- prods) {
        <div id="icon-edit-production-@{p.id}" class="manage-production-item" >
            <img src="@routes.Images.get(p.thumbnail)" alt="thumbnail_@{p.title}" width="100px" height="100px">
            <p>@{p.title}</p>
        </div>
    }
}