@import window._

@()(implicit req: RequestHeader, messages: Messages)

@windowBase(Messages("window.name.managePage"), "main-window", "window-manage-page"){
<ul>
    <li class="window-menu-content">@Html(Messages("window.menu.file"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.edit"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.search"))</li>
    <li class="window-menu-content menu-reload">@Html(Messages("window.menu.reload"))</li>
</ul>
} {
<div id="icon-edit-page-Manual" class="manage-page-item" data-content-type="Manual">
    <img src="@routes.Assets.versioned("images/manual.png")" style="width: 100px; height: 100px;" alt="manual">
    <p>@Messages("manage.page.manual")</p>
</div>
<div id="icon-edit-page-About" class="manage-page-item" data-content-type="About">
    <img src="@routes.Assets.versioned("images/about.png")" style="width: 100px; height: 100px;" alt="about">
    <p>@Messages("manage.page.about")</p>
</div>
}