@import window._

@()(implicit req: RequestHeader)

@windowBase("はじめに", "main-window", "window-manual"){
<ul>
    <li class="window-menu-content">ファイル(<u>F</u>)</li>
    <li class="window-menu-content">編集(<u>E</u>)</li>
    <li class="window-menu-content">検索(<u>V</u>)</li>
    <li class="window-menu-content">ヘルプ(<u>H</u>)</li>
</ul>
} {
    <h3>このサイトについて</h3>
    <p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
    <h3>操作方法</h3>
    <p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
    <p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
    <p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
    <p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
}