@import window._

@()(implicit req: RequestHeader, messages: Messages)

@windowBase(Messages("window.name.manual"), "main-window", "window-manual"){
<ul>
    <li class="window-menu-content">@Html(Messages("window.menu.file"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.edit"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.search"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.help"))</li>
</ul>
} {
    <h3>このサイトについて</h3>
    <p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
    <h3>操作方法</h3>
    <p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
    <p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
    <p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
    <p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
<h3>このサイトについて</h3>
<p>当サイトは東工大理学院化学系M1のしがないポートフォリオです。</p>
<h3>操作方法</h3>
<p>各ウィンドウを一番下までスクロールすると、次のウィンドウが現れます。</p>
<p>前のウィンドウが見たい場合はタスクバーから選択してください。</p>
<p>デスクトップアイコンがメニューに対応しています。クリックすると、該当するページのウィンドウが現れます。</p>
<p>他、比較的直感的(というか経験的?)な操作で動かせると思います。</p>
}