@import window._

@(prods: Seq[Production])(implicit req: RequestHeader, messages: Messages)

@windowBase(Messages("window.name.work"), "main-window", "window-work"){
<ul>
    <li class="window-menu-content">@Html(Messages("window.menu.file"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.edit"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.search"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.help"))</li>
</ul>
} {
    @for(p <- prods) {
    <div id="icon-production-@{p.id}" class="production-item" >
        <img src="@routes.Images.get(p.thumbnail)" alt="thumbnail_@{p.title}" width="100px" height="100px">
        <p>@{p.title}</p>
    </div>
    }
}