@()(implicit req: RequestHeader)

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.IntroductionController.index,
    routes.javascript.IntroductionController.manual,
    routes.javascript.IntroductionController.work,
    routes.javascript.IntroductionController.about,
    routes.javascript.UserController.control,
    routes.javascript.UserController.login,
    routes.javascript.UserController.logout,
    routes.javascript.UserController.demoLogin,
    routes.javascript.UserController.index,
    routes.javascript.UserController.edit,
    routes.javascript.UserController.create,
    routes.javascript.UserController.update,
    routes.javascript.UserController.remove,
    routes.javascript.UserController.demoAlert,
    routes.javascript.UserController.loginInfo,
    routes.javascript.Productions.index,
    routes.javascript.Productions.add,
    routes.javascript.Productions.edit,
    routes.javascript.Productions.update,
    routes.javascript.Productions.create,
    routes.javascript.Productions.show,
    routes.javascript.Pages.index,
    routes.javascript.Pages.edit,
    routes.javascript.Pages.update,
    routes.javascript.Images.index,
    routes.javascript.Images.show,
    routes.javascript.Images.remove
)