@()

<div id="loader">
    <div>
        <div class="loader-sentence loader-reserved-word">package</div>
        <div class="loader-sentence loader-word">azule.project</div>
    </div>
    <div>&nbsp;</div>
    <div>
        <div class="loader-sentence loader-reserved-word">import</div>
        <div class="loader-sentence loader-word">azule.created.Product</div>
    </div>
    <div>
        <div class="loader-sentence loader-reserved-word">import</div>
        <div class="loader-sentence loader-word">azule.studied.Chemistry</div>
    </div>
    <div>
        <div class="loader-sentence loader-reserved-word">import</div>
        <div class="loader-sentence loader-word">azule.studied.Physics</div>
    </div>
    <div>
        <div class="loader-sentence loader-reserved-word">import</div>
        <div class="loader-sentence loader-word">azule.ate.Umaimono</div>
    </div>
    <div>
        <div class="loader-sentence loader-reserved-word">import</div>
        <div class="loader-sentence loader-word">azule.somthing.Else</div>
    </div>
    <div>&nbsp;</div>
    <div>
        <div class="loader-sentence loader-reserved-word">class</div>
        <div class="loader-sentence loader-word">PortFolioMaker</div>
        <div class="loader-sentence loader-annotated-word">@@Inject</div>
        <div class="loader-sentence loader-word">()(</div>
    </div>
    <div>
        <div class="loader-indent">&nbsp;&nbsp;</div>
        <div class="loader-sentence loader-reserved-word">val</div>
        <div class="loader-sentence loader-word">cc: ControllerComponents</div>
    </div>
    <div>
        <div class="loader-sentence loader-word">)</div>
        <div class="loader-sentence loader-reserved-word">extends</div>
        <div class="loader-sentence loader-word">Product</div>
    </div>
    <div>
        <div class="loader-indent">&nbsp;&nbsp;</div>
        <div class="loader-sentence loader-reserved-word">with</div>
        <div class="loader-sentence loader-word">Chemistry</div>
    </div>
    <div>
        <div class="loader-indent">&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="loader-sentence loader-reserved-word">with</div>
        <div class="loader-sentence loader-word">Physics </div>
    </div>
    <div>
        <div class="loader-indent">&nbsp;&nbsp;</div>
        <div class="loader-sentence loader-reserved-word">def</div>
        <div class="loader-sentence loader-word">aaaaaaaaaaaaaaa</div>
    </div>
</div>