@import helper._
@()(implicit request: RequestHeader, messages: Messages)

<div id="start-menu-title">
    <div class="start-menu-title-content">
        @Messages("portfolio.name")
    </div>
</div>
<div id="icon-manage-production" class="start-menu-content">
    <div class="start-menu-icon">
        <img src="@routes.Assets.versioned("images/work.png")" style="width: 60px; height: 60px;" alt="manage_work">
    </div>
    <div class="start-menu-content-title">
        @Messages("window.name.manageProduction")
    </div>
</div>
<div id="icon-manage-page" class="start-menu-content">
    <div class="start-menu-icon">
        <img src="@routes.Assets.versioned("images/manual.png")" style="width: 60px; height: 60px;" alt="manage_page">
    </div>
    <div class="start-menu-content-title">
        @Messages("window.name.managePage")
    </div>
</div>
<div id="icon-manage-image" class="start-menu-content">
    <div class="start-menu-icon">
        <img src="@routes.Assets.versioned("images/manage_image.png")" style="width: 60px; height: 60px;" alt="manage_image">
    </div>
    <div class="start-menu-content-title">
        @Messages("window.name.manageImage")
    </div>
</div>
<div id="icon-manage-user" class="start-menu-content start-menu-bottom">
    <div class="start-menu-icon">
        <img src="@routes.Assets.versioned("images/manage_user.png")" style="width: 60px; height: 60px;" alt="manage_user">
    </div>
    <div class="start-menu-content-title">
        @Messages("window.name.manageUser")
    </div>
</div>
<div id="icon-logout" class="start-menu-content start-menu-logout">
    <div class="start-menu-icon">
        <img src="@routes.Assets.versioned("images/logout.png")" style="width: 60px; height: 60px;" alt="logout">
    </div>
    <div class="start-menu-content-title">
        @Messages("startMenu.logout")
    </div>
    @helper.form(action = routes.UserController.logout(), Symbol("id") -> "logout-form") {
        @CSRF.formField
    }
</div>

