@import service.ProductionService.ProductionInfoData
@import helper._
@import window._
@(contentType: String, clazz: String, form: Form[(String, String)])(implicit request: RequestHeader, messages: Messages)

@windowBase(Messages("manage.page", Messages(s"window.name.${contentType.toLowerCase}")), "main-window", clazz){
<ul>
    <li class="window-menu-content">@Html(Messages("window.menu.file"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.edit"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.search"))</li>
    <li class="window-menu-content">@Html(Messages("window.menu.help"))</li>
</ul>
} {
    @helper.form(
        action = routes.Pages.update(),
        Symbol("id") -> s"manage-page-form-$contentType",
        Symbol("data-window-id") -> clazz
    ) {
        @CSRF.formField
        <input type="hidden" name="contentType" value="@form("contentType").value">
        <textarea class="page-content" name="content" value="@form("content").value"></textarea>
        <div class="m-3">
            <div class="d-grid gap-2">
                <input class="btn btn-primary" type="submit" value="@Messages("manage.page.submit")">
            </div>
        </div>
    }
    <script>
        $(document).ready(function() {
            var thisContent = $('#manage-page-form-@contentType > .page-content');
            thisContent.trumbowyg({
                btnsDef: {
                    image: {
                        dropdown: ['insertImage', 'upload'],
                        ico: 'insertImage'
                    }
                },
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['fontfamily', 'fontsize'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['image'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['table'], ['tableCellBackgroundColor', 'tableBorderColor'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ],
                imageWidthModalEdit: true,
                tagClasses: {
                    table: 'table table-bordered'
                },
                plugins: {
                    upload: {
                        serverPath: "@helper.CSRF(routes.Images.upload()).url",
                        fileFieldName: 'image',
                        success: function (data, trumbowyg, $modal, values) {
                            var editor = $('#manage-page-form-@contentType > .page-content');
                            editor.trumbowyg('html', editor.trumbowyg('html') + '<img src="' + data.file + '" alt="' + values.alt + '" width="' + values.width + '">');
                            editor.trumbowyg('closeModal');
                        },
                        error: function() {
                            console.log("test");
                        },
                        imageWidthModalEdit: true
                    },
                    resizimg: {
                        minSize: 64,
                        step: 16,
                    }
                }
            });
            thisContent.trumbowyg('html', thisContent.attr('value'));
        });
    </script>
}